GOOGLE_CLOUD_API_KEY = "your_google_api_key_here"
GOOGLE_CLOUD_PROJECT = "your_project_name"
GOOGLE_CLOUD_LOCATION = "global"
USE_VERTEX_AI = "false"
ELEVENLABS_API_KEY = "your_elevenlabs_api_key_here"
OPENAI_API_KEY = "your_openai_api_key_here"
OPENAI_API_BASE = "https://api.openai.com/v1"
USE_AZURE_OPENAI = "false"
AZURE_OPENAI_API_VERSION = "2025-04-01-preview"
TRIPO_API_KEY = "your_tripo_api_key_here"
TRIPO_API_BASE_URL = "https://api.tripo3d.ai/v2/openapi"
DASHSCOPE_BASE_URL = "https://dashscope.aliyuncs.com/compatible-mode/v1"
DASHSCOPE_API_KEY = "your_dashscope_api_key_here"
